# Exclude everything at the root level
/*

# Include only the Testing Script folder
!/Testing Script/
!/Testing Script/**

# Include essential repository files
!.gitignore
!README.md
!LICENSE

# Exclude common unwanted files and folders
.history/
.vscode/
*.log
*.tmp
.DS_Store
Thumbs.db
node_modules/

.wiki/
